
/* ------------------------------------ */
/*        CSS  --                     	*/
/* ------------------------------------ */


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v11/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');

}
@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  src: local('Pinyon Script'), local('PinyonScript'), url(http://fonts.gstatic.com/s/pinyonscript/v6/TzghnhfCn7TuE73f-CBQ0BEVhAA1gnTRu3Am0EzDRlM.woff) format('woff');
}


@font-face {
    font-family: "Ma Super Fonte";
    src: url('MaSuperFonte-Regular.ttf');
}
@font-face {
    font-family: "Ma Super Fonte";
    font-style: italic;
    src: url('MaSuperFonte-Italic.ttf');
}
@font-face {
    font-family: "Ma Super Fonte";
    font-weight: bold;
    src: url('MaSuperFonte-Bold.ttf');
}

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt mollitia aliquid neque id illum, 


body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
    font-style: normal;
    font-weight: bold;
}


h2 {
    /* Utilisera MaSuperFonte-Italic.ttf */
    font-style: italic;
    font-weight: normal;
}
h3 {
    /* Utilisera ??? (fonte bold italic non chargée!) */
    font-style: italic;
    font-weight: bold;
}
p {
    /* Utilisera MaSuperFonte-Regular.ttf */
    font-style: normal;
    font-weight: normal;
}



/* LOGIN */

.formulaire_login{

  margin-top: 40px;
}



/* PRODUITS */

section{
    text-align: left;
}

.titre_produits{
  text-align: center;
}


.article {
    width: 500px;
    display: -webkit-flex;
    display: Flex;
    align-items:stretch;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #7e7975;
    margin-bottom: 10px;
    margin-left: 20%;
}


.image_livre{
  width: 40%;
  text-align: left;
}

.produit_livre{
  width: 60%;
  text-align: left;
  margin-top: -20px;
}



.livre_nom{
  font-size: 14pt;
  margin-bottom: -10px;
}

.livre_auteur{
  font-size: 12pt;
  margin-bottom: -10px;
  color: blue;
}

.livre_editeur{
  font-size: 12pt;
  margin-bottom: -10px;
}


.livre_categorie{
  font-size: 12pt;
  margin-bottom: -10px;
}

.livre_date_edition{

  font-size: 12pt;
  margin-bottom: -10px;
}

.livre_prix{
  font-size: 12pt;
  margin-bottom: 0px;
}



/* =============================================================== */
/* Commande 
/* =============================================================== */


.section_commande{
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #D3D3D3;
}



.table_commande_titre{
  width: 100%;

}

.table_commande_liste{
  margin-top: 10px;
  width: 100%;
}

.cmd_tr{
  height: 40px;
  background: #D3D3D3;
  color: #7e7975;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.cmd_tr_article{
  width: 50%;
}

.cmd_tr_unitaire{
  width: 20%;
}

.cmd_tr_quantite{
  width: 10%;
}

.cmd_tr_total{
  width: 20%;
}

.cmd_tr_td{
  padding-bottom: 10pt;
  vertical-align: text-top;
}

.cmd_td_article{
  font-size: 12pt;
  padding-left: 5px;
  color: blue;
}

.s_cmd_td_article{
    color: black;  
}

.cmd_td_unitaire{
  font-size: 12pt;
  text-align: right;
  padding-right: 65px;
}

.cmd_td_quantite{
  font-size: 12pt;
  text-align: right;
  padding-right: 70px;
}


.cmd_td_total{
  font-size: 12pt;
  text-align: right;
  padding-right: 65px;
}



.panier_retour{
  margin-top: 0px;
  text-align: center;
}

.achat_logo{
  margin-top: 10px;
  text-align: center;
}

.achat_retour{
  margin-top: 0px;
  text-align: center;
}


/* =============================================================== */
/* Administrer 
/* =============================================================== */


.formulaire_admin_ajout_libelle{
  display:inline-block;
  width:100px;
}


.section_admin_blog{
  padding-left: 0px;
}

.formulaire_admin{
  margin-left: 0px;
}

.ad_lib_1{
  display: inline-block;
  width: 100px;
  }

div{
  margin-bottom: 10px;
}

.titre{
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
  margin-top: 0px;
  margin-bottom: 30px;
}
.texte{
  font-style: normal;
  font-weight: bold;
  font-size: 12pt;
}

.contenu{
  font-style: italic;
  font-weight: normal;
  font-size: 14pt;
  padding-left: 0px;
  text-align: justify;
}


.date{
  font-style: normal;
  font-weight: normal;
  font-size: 10pt;
  margin-top: -15px;
}


.textarea{
  text-align: left;
}


/* =============================================================== */
/* DETAIL  
/* =============================================================== */

.section_blog_contenu_news{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 80px;
}


.contenu_image{
  float: left;
  width:50px;
  height: 50px;
  margin-right: 10px;
}

.contenu_titre{
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
  margin-top: 2px;
}

.blog_contenu_news{
  width: 100%;
  border-style: dotted;
  border-width: 2px;
  border-color: #7e7975;
  border-radius: 5px;
  padding: 8px;
  background: #d7d2cf;
}

.calendrier{
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}


.titre_detail{
  text-align: center;
  margin-bottom: 0px;
}


/* =============================================================== */
/* LOGON
/* =============================================================== */

.login{
  margin-top: 100px;
  margin-left: 200px;
}
.login label{
  display: inline-block;
  width: 200px;
}

.rouge{
  color:red;
}

.back_rouge{
  background:red;
}

/* =============================================================== */
/* REGISTER COMPTE 
/* =============================================================== */

.margin_left{
  margin-left: 50px;
}


/* =============================================================== */
/* 
/* =============================================================== */


.image{
  float: left;
  width:50px;
  height: 50px;
  margin-right: 5px;
}

.contenu_image{
  float: left;
  width:50px;
  height: 50px;
  margin-right: 10px;
}

.contenu_titre{
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
}


