
/* ------------------------------------ */
/*        CSS  --                       */
/* ------------------------------------ */


@font-face {
    font-family: "Ma Super Fonte Titre";
    src: url('SpecialElite.woff');
}
@font-face {
    font-family: "Ma Super Fonte Paragraphe";
    font-style: normal;
    src: url('cardo-regular.woff');
}
@font-face {
    font-family: "Ma Super Fonte Paragraphe";
    font-style: italic;
    src: url('cardo-italic.woff');
}
@font-face {
    font-family: "Ma Super Fonte Paragraphe";
    font-weight: bold;
    src: url('cardo-bold.woff');
}


.body_produits {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #7e7975;
}

h1 {
    font-style: normal;
    font-weight: bold;
}


h2 {
    font-style: normal;
    font-weight: bold;
}
h3 {
    font-style: normal;
    font-weight: bold;
}


/* LOGIN */

.formulaire_login{

  margin-top: 40px;
}


/* =============================================================== */
/* PRODUITS 
/* =============================================================== */


/* ----------------------------------- Headers  ------------------------------ */

/* -------------------------------      entête  --------------------------- */


header{
    border-style: solid;
    border-width: 2px;
    border-color: #7e7975;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #BF4C55;
    margin-top: 0px;
    margin-bottom: 0px;
}

.agora{
    font-family: "Ma Super Fonte Paragraphe", Arial ;
    font-style: italic;
    font-style: bold;
    font-weight: bold;
    font-size: 40pt;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.agora_partager{
    font-family: "Ma Super Fonte Paragraphe", Arial ;
    font-style: normal;
    font-size: 20pt;
}

.agora_citation{
    font-family: "Ma Super Fonte Paragraphe", Arial ;
    font-style: italic;
    font-size: 15pt;
    text-align: right;
    margin-top: -25px;
    margin-bottom: 0px;
    padding-right: 0px;
}

.agora_proust{
    font-family: "Ma Super Fonte Paragraphe", Arial ;
    font-style: normal;
    font-size: 10pt;
}

.bande_entete a{
  text-decoration: none;
  color:white;
}

.bande_entete p{
  font-style: normal;
  font-weight: bold;
  padding-left: 6px;
  margin-top: 0px;
  padding-top: 10px;
}

.bande_entete{
    background-color: blue;
    height: 40px;
}



.haut_page_nav{
    width:                          55%;   
    float:                          left;
    margin-top:                     10px;
    padding-left:                   20px;
}

.haut_page_icons{
    width:                          45%;
    float:                          left;
    vertical-align:                 top;
    margin-top:                     0px;
}


.haut_page_nav ul{
    padding-left:                   0;
    text-align:                     left;
    list-style-type:                none;
    margin-top:                     0px;
    margin-bottom:                  0px;
}

.haut_page_nav li{
    display:                        inline-block;
    color:                          white;
}

.haut_page_nav li+li:before{
        content:"|";
}

.haut_page_nav a{
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
    opacity: 0.7;
    color: white;
}

.s_blanc{
    color:                          white;
    opacity:                        0.5;
    font-size:                      10pt;
}

.icon{
    padding-right:                  5px;  
}


.bande_entete_categorie{
    margin-bottom: 0px;
    margin-top: 0px
}



.input_search_produits{
    width:                          400px;
    background-image:               url(../images/search_bg.jpg);
    text-align:                     right;
    border:                         2px solid;
    border-radius:                  25px;
    border-color:                   #919191;
    text-align:                     left;
    margin-bottom:                  40px;
    margin-left:                    40px;
    padding-left:                   10px;
    padding-top:                    10px;
    padding-bottom:                 10px;

}

.button_produits{
    border-right-style: solid;
    border-color:  black;
    border-radius: 4px 4px 4px 4px;
}

.search_btn{
padding-top: 5px;
}

.produits_deconnexion{
  padding-left: 60px;
}


.produits_test{
  font-style: normal;
  font-weight: bold;
  padding-left: 50px;
  margin-bottom: 5px;
  margin-top: -20px;
  text-align: 40px;
}

section{
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.titre_produits{
  text-align: center;
}


.article {
    width: 500px;
    display: -webkit-flex;
    display: Flex;
    align-items:stretch;
    border-style: solid;
    border-width: 5px;
    border-color: black; 
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 12px;
}

.image_livre{
  width: 40%;
}


.produit_livre{
  text-align: left;
  margin-top: -20px;
}

.produit_livre a{
  text-decoration: none;
}

.livre_nom{
  font-size: 14pt;
  margin-bottom: -10px;
}

.livre_auteur{
  font-size: 12pt;
  margin-bottom: -10px;
  color: blue;
}

.livre_editeur{
  font-size: 12pt;
  margin-bottom: -10px;
}


.livre_categorie{
  font-size: 12pt;
  margin-bottom: -10px;
}

.livre_date_edition{

  font-size: 12pt;
  margin-bottom: -10px;
}

.livre_prix{
  font-size: 12pt;
  margin-bottom: 0px;
}

.ligne_pagination{
  margin-left: 200px;
}

.logo_ajout_panier{
  padding-left: 180px;
}

.produits_compte{
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #525252;
  color: black;
}

.produits_fin_stock{
  width: 80px;
  text-align: center;
  color: white;
  background-color: red;
}

/* =============================================================== */
/* Commande 
/* =============================================================== */

.section_commande{
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #D3D3D3;
  margin-left: 0px;
}

.table_commande_titre{
  width: 100%;
}

.table_commande_liste{
  margin-top: 10px;
  width: 100%;
}

.cmd_tr{
  height: 40px;
  background: #D3D3D3;
  color: #7e7975;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.cmd_tr_article{
  width: 50%;
}

.cmd_tr_unitaire{
  width: 20%;
}

.cmd_tr_quantite{
  width: 10%;
}

.cmd_tr_total{
  width: 20%;
}

.cmd_tr_td{
  vertical-align: text-top;
}

.cmd_tr_td_total{
  line-height: 30pt;
}

.cmd_td_article{
  width: 50%;
  font-size: 12pt;
  padding-left: 5px;
  color: blue;
}

.cmd_td_article_nom{
  font-size: 12pt;
  padding-left: 5px;
}

.s_cmd_td_article{
    color: black;  
}

.cmd_td_unitaire{
  width: 20%;
  font-size: 12pt;
  text-align: right;
  padding-right: 8%
}

.cmd_td_quantite{
  width: 10%;
  font-size: 12pt;
  text-align: right;
  padding-right: 5%
}


.cmd_td_total{
  width: 20%;
  font-size: 12pt;
  text-align: right;
  padding-right: 8%;
}

.cmd_td_article_total{
  text-align: center;
  background-color: #D3D3D3;
}

.cmd_td_total_total{
  width: 20%;
  font-size: 12pt;
  text-align: right;
  padding-right: 8%;
  background-color: #D3D3D3;
}


.panier_retour{
  margin-top: 0px;
  text-align: center;
}

.achat_logo{
  margin-top: 10px;
  text-align: center;
}

.achat_retour{
  margin-top: 20px;
  text-align: center;
}


/* =============================================================== */
/* ACHAT 
/* =============================================================== */

.section_achat{
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #D3D3D3;
  margin-left: 0px;
  margin-top: 0px;
}


.titre_achat_date{
  text-align: center;
  margin-top: 0px;
}

.adresse_achat{
    text-align: center;
    margin-bottom: 20px;
}

.table_achat_titre{
  width: 100%;
}


/* =============================================================== */
/* Administrer 
/* =============================================================== */


.formulaire_admin_ajout_libelle{
  display:inline-block;
  width:100px;
  margin-top: 0px;
}

.formulaire_admin_ajout_resume{
  color: red;
}

.formulaire_admin_ajout_resume_texte{
  text-align: justify;
}

.section_admin_blog{
  padding-left: 0px;
}

.formulaire_admin{
  margin-left: 0px;
}

.ad_lib_1{
  display: inline-block;
  width: 100px;
  }

.titre{
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
  margin-top: 0px;
  margin-bottom: 30px;
}
.texte{
  font-style: normal;
  font-weight: bold;
  font-size: 12pt;
}

.contenu{
  font-style: italic;
  font-weight: normal;
  font-size: 14pt;
  padding-left: 0px;
  text-align: justify;
}


.date{
  font-style: normal;
  font-weight: normal;
  font-size: 10pt;
  margin-top: -15px;
}


.textarea{
  text-align: left;
}

.ad_produit_php_valider{
  margin-left: 200px;
  margin-top: 0px;
}

.ad_produit_php_retour {
  margin-top: 0px;
}


.ad_modification_php{
  margin-top: 30px;
  margin-left: 25%;
}



/* =============================================================== */
/* CONTENU 
/* =============================================================== */

.contenu_php_section{
    width: 600px;
    margin-left: 140px;
    margin-top: 20px;
}

.contenu_php_article {

    display: -webkit-flex;
    display: Flex;
    align-items:stretch;
    border-style: solid;
    border-width: 5px;
    border-color: black; 
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;

}

.contenu_php_titre{
  margin-bottom: -3px;
  margin-left: 15px;
}


.contenu_php_image_livre{
  width: 40%;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: red;
  padding-top: 20px;
}


.contenu_php_produit_livre{
  width: 60%;
  text-align: left;
  margin-top: 0px;
  padding-left: 10px;
}


.calendrier{
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}


.contenu_php_admin_boutons{
  margin-top: 15px;
}

.contenu_php_admin_modifier{
    margin-right: 15px;
}


.contenu_php_titre_ean13_quantite{
  margin-top: -20px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.contenu_php_titre_resume{
  margin-bottom: 0px;
}
.contenu_php_bloc_resume{

    margin-top: 5px;
}

.contenu_php_texte_resume{
  font-style: normal;
  font-weight: normal;
  font-size: 15pt;
  text-align: justify;
  margin-top: 0px;
}

/* =============================================================== */
/* LOGON
/* =============================================================== */

.login{
  margin-top: 100px;
  margin-left: 200px;
}
.login label{
  display: inline-block;
  width: 200px;
}

.rouge{
  color:red;
}

.back_rouge{
  background:red;
}


.formulaire_login{

  margin-top: 40px;
}


/* =============================================================== */
/* REGISTER COMPTE 
/* =============================================================== */

.register_forme{
  margin-left: 200px;
  margin-top:  50px;
}

.register_nom{
  display: inline-block;
  width: 100px;
}
.register_code{
  display: inline-block;
  width: 100px;
  padding-left: 40px;

}

.register_buttons{
  margin-left: 150px;
}


/* =============================================================== */
/* autres ?
/* =============================================================== */


.image{
  float: left;
  width:50px;
  height: 50px;
  margin-right: 5px;
}

.contenu_image{
  float: left;
  width:50px;
  height: 50px;
  margin-right: 10px;
}

.contenu_titre{
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
}

.margin_left{
  margin-left: 50px;
}

